<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <appSettings>
    <add key="RPCURL" value="http://www.51ziu.com/k38dh5o39n2109dfj/doing.php" />
    <add key="URL" value="http://www.51ziu.com/" />
    <add key="QQ" value="1024606136" />
    <add key="PASSWORD" value="ziu@2008" />
    <add key="ROBOT" value="51ziu" />
    <add key="SYSQQ" value="37018371" />
    <add key="MAXLEN" value="400" />
    <add key="AUTHUSER" value="" />
    <add key="AUTHPASSWORD" value="" />
    <add key="HELP" value="欢迎您使用{0} 网址:{1} \n\n绑定方法：首先在个人设置QQ栏填写自己的QQ号码，然后把我加为好友即可实时发布迷你博客和接收会员消息！\n\n站内会员间互发信息请采用 @会员用户名 聊天内容\n\n不保存聊天记录到博客采用 !会员用户名 聊天内容\n\n查询城市天气预报 ?TQ 城市名 或 ?天气 城市名\n\n查询IP地址 ?IP IP地址" />
  </appSettings>
</configuration>